<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mentipedia</a>
            <span class="navbar-text">
                La enciclopedia de mentiras
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">¿Cómo funciona?</a>
                    </li>
                </ul>
                <form class="d-flex me-5">
                    <button class="btn btn-primary btn-outline-succes" type="submit">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </nav>
</header>