<!DOCTYPE html>
<html lang="es">
<%- include('head.ejs')  %>
<body>

<%- include('header.ejs') %>

<div class="p-5 mb-4 rounded-3">
    <div class="container-fluid mx-5 px-5 py-5">
        <h1 class="display-5 fw-bold">Mentipedia</h1>
        <p class="col-md-8 fs-4">La enciclopedia de las mentiras</p>
    </div>
</div>

<%- include('scripts.ejs') %>

</body>
</html>